registry=https://registry.npmjs.org
@NAMESPACE:registry=https://npm.pkg.github.com/PACKAGENAME
@tiptap-pro:registry=https://registry.tiptap.dev/
//registry.tiptap.dev/:_authToken=6gA/k2zLf0jM9gyfiinpMyuCnv+uqDzNXnfrG1PUUmIgra1docnEyKOK8nAO//3N