@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.5;
	margin-top: 0.75em;
}

.course-content a {
	color: #7bbfd3;
	text-decoration: underline;
}

:root {
	background-color: #14151a;
	color: white;
}

.blob {
	position: absolute;
	top: -190px;
	right: -250px;
	background: #70e1fb;
	border-radius: 9999px;
	filter: blur(90px);
	z-index: -10;
	opacity: 80%;
	animation: hovering 20s infinite;
}

.blobCenter1 {
	width: 650px;
	height: 650px;
	position: absolute;
	inset: 0;
	margin: 0 auto;
	background: #70e1fb;
	border-radius: 9999px;
	filter: blur(90px);
	z-index: -10;
	opacity: 80%;
	animation: hovering-center1 20s infinite;
}

.blobCenter2 {
	width: 650px;
	height: 650px;
	position: absolute;
	inset: 0;
	margin: 0 auto;
	background: #70e1fb;
	border-radius: 9999px;
	filter: blur(90px);
	z-index: -10;
	opacity: 80%;
	animation: hovering-center2 20s infinite;
}

.tiptap {
	> * + * {
		margin-top: 0.75em;
	}

	ul,
	ol {
		padding: 0 1rem;
	}
}

.bubble-menu {
	display: flex;
	background-color: #0d0d0d;
	padding: 0.2rem;
	border-radius: 0.5rem;

	button {
		border: none;
		background: none;
		color: #fff;
		font-size: 0.85rem;
		font-weight: 500;
		padding: 0 0.2rem;
		opacity: 0.6;

		&:hover,
		&.is-active {
			opacity: 1;
		}
	}
}

.floating-menu {
	display: flex;
	background-color: #0d0d0d10;
	padding: 0.2rem;
	border-radius: 0.5rem;

	button {
		border: none;
		background: none;
		font-size: 0.85rem;
		font-weight: 500;
		padding: 0 0.2rem;
		opacity: 0.6;

		&:hover,
		&.is-active {
			opacity: 1;
		}
	}
}

.tiptap a {
	color: #7bbfd3;
	text-decoration: underline;
	cursor: pointer;
}

.ProseMirror {
	padding: 12px;
	border: 1px solid;
	min-height: 30vh;
}

.tiptap p.is-editor-empty:first-child::before {
	color: #adb5bd;
	content: attr(data-placeholder);
	float: left;
	height: 0;
	pointer-events: none;
}

/* Base sizes */
h1 {
	font-size: 2.5rem; /* 40px */
}
h2 {
	font-size: 2rem; /* 32px */
}
h3 {
	font-size: 1.75rem; /* 28px */
}
h4 {
	font-size: 1.5rem; /* 24px */
}
h5 {
	font-size: 1.25rem; /* 20px */
}
h6 {
	font-size: 1rem; /* 16px */
}

svg circle {
	transition: all 1s ease-in-out;
}

@keyframes hovering {
	0% {
		top: -190px;
		right: -250px;
	}

	35% {
		top: -190px;
		right: -180px;
	}
	/* 50% {
		top: -190px;
		right: -250px;
	} */
	65% {
		top: -100px;
		right: -250px;
	}

	100% {
		top: -190px;
		right: -250px;
	}
}

@keyframes hovering-center1 {
	0% {
		top: -75px;
		right: -400px;
	}

	25% {
		top: -10px;
		right: -425px;
	}

	50% {
		top: 0;
		right: -400px;
	}
	75% {
		top: 15px;
		right: -425px;
	}

	100% {
		top: -75px;
		right: -400px;
	}
}

@keyframes hovering-center2 {
	0% {
		top: 75px;
		left: -400px;
	}

	25% {
		top: -10px;
		left: -425px;
	}

	50% {
		top: 0;
		left: -400px;
	}
	75% {
		top: 15px;
		left: -425px;
	}

	100% {
		top: 75px;
		left: -400px;
	}
}

/* Media query for mobile devices */
@media (max-width: 768px) {
	h1 {
		font-size: 2rem; /* 32px */
	}
	h2 {
		font-size: 1.75rem; /* 28px */
	}
	h3 {
		font-size: 1.5rem; /* 24px */
	}
	h4 {
		font-size: 1.25rem; /* 20px */
	}
	h5 {
		font-size: 1rem; /* 16px */
	}
	h6 {
		font-size: 0.875rem; /* 14px */
	}
}
