@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	background-color: #060709;
}

.blob {
	width: 650px;
	height: 650px;
	position: absolute;
	top: -190px;
	right: -250px;
	background: #70e1fb;
	border-radius: 9999px;
	filter: blur(90px);
	z-index: -10;
	opacity: 80%;
}
